@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import 'bootstrap/bootstrap';
@import 'fontawesome/font-awesome';
@import 'common';
@import 'custom';

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #454e69;
}
header{
    nav{
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
        .nav-link{
            &.active::after{
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: map-get($color, knc);
            }
        }
    }
}
section{
    background-color: #f5fbfb;
    > div{
        background-image: url(../img/bg-waves.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .page-title{
        img{
            max-width: 100%;
            height: 44px;
        }
        .title{
            opacity: 0.4;
            color: map-get($color, knc);
            font-weight: 700;
        }
    }
    .setting{
        position: absolute;
        right: 25px;
        top: 15px;
        color: $secondary;
        text-transform: uppercase;
        span{
            vertical-align: super;
            margin-right: 10px;
            display: inline-block;
            transition: all 0.2s;
            font-weight: 600;
            transform: translateX(60%);
            opacity: 0;
        }
        i{
            font-size: 1.5rem;
            cursor: pointer;
            transform: rotate(0);
            transition: all 0.2s;
        }
        &:hover{
            color: inherit;
            i{
                transform: rotate(-90deg);
            }
            span{
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
    .reserves{
        & > li{
            background-color: #fff;
            margin-top: 5rem;
            margin-bottom: 9rem;
            box-shadow: 0 8px 20px 0 rgba(135, 136, 136, 0.26), 0 0 6px 0 rgba(173, 177, 176, 0.26);
            position: relative;
            padding: 4.5rem 2.5rem 2.5rem;
            .logo{
                position: absolute;
                top: -2rem;
            }
            .label, .value{
                display: flex;
                align-items: baseline;
            }
            .label{
                text-transform: uppercase;
                font-size: 0.9em;
                margin-bottom: 0.5rem;
            }
            .value{
                font-size: 2em;
                font-weight: 700;
                border-bottom: 2px solid $secondary;
                small{
                    font-size: 0.7em;
                    font-weight: 600;
                    color: $secondary;
                }
                &.value-progress{
                    border-bottom: 0;
                    margin-top: -3px;
                    
                }
            }
            .progress{
                height: 5px;
            }
            .table{
                th,td{
                    border: none;
                    padding: 0.4rem 0;
                }
                th{
                    font-weight: normal;
                }
                td{
                    font-weight: 600;
                }
            }
        }
    }
}