*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.font-weight-sbold{
    font-weight: 600;
}
$color: (
    knc: #188c92,
    bat: #ff5000,
);
@each $key, $val in $color {
    .bg{
        &-#{$key}{
            background-color: #{$val};
        }
    }
}
$kprimary: linear-gradient(#3197ae, #6fbe9b);
$kprimary-reverse: linear-gradient(#6fbe9b, #3197ae);
$btn-hover: linear-gradient(rgba(171, 173, 177, 0.26), rgba(171, 173, 177, 0.26));

.btn{
    font-size: 0.8em;
    border-radius: 40px;
    padding: 12px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    font-weight: 600;
    background-color: #fff;
    transition: all 0.5s;
    &.btn-kprimary{
        color: #fff;
        -webkit-background: $kprimary;
        -moz-background: $kprimary;
        background: $kprimary;
        border: 1px solid #6fbe9b;
        &:hover{
            -webkit-background: $kprimary-reverse!important;
            -moz-background: $kprimary-reverse!important;
            background: $kprimary-reverse!important;
            border: 1px solid #6fbe9b;
        }
    }
    &.btn-active i{

    }
    &:active{
        -webkit-background: $kprimary!important;
        -moz-background: $kprimary!important;
        background: $kprimary!important;
    }
    &:hover{
        -webkit-background: $btn-hover!important;
        -moz-background: $btn-hover!important;
        background: $btn-hover!important;
        border: 1px solid transparent;
    }
    &:focus{
        box-shadow: none;
    }
    .fa{
        margin-left: 10px;
    }
}